@use "../utils" as *;

/*----------------------------------------*/
/*  Background Css
/*----------------------------------------*/

.white-bg {
  background-color: var(--td-white);
}
.black-bg {
  background-color: var(--td-black);
}

// Theme bg
.theme-bg {
  background-color: var(--td-bg-primary);
}
.theme-bg-secondary {
  background-color: var(--td-bg-secondary);
}
.warning-bg {
  background-color: var(--td-tertiary);
}
.flash-white {
  background-color: var(--td-flash-white);
}
.bg-aliceBlue {
  background-color: var(--td-aliceBlue);
}