@use '../utils' as *;

/*----------------------------------------*/
/*  Offcanvas
/*----------------------------------------*/

.offcanvas-area {
    background: $black none repeat scroll 0 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 340px;
    height: 100%;
    -webkit-transform: translateX(calc(100% + 80px));
    -moz-transform: translateX(calc(100% + 80px));
    -ms-transform: translateX(calc(100% + 80px));
    -o-transform: translateX(calc(100% + 80px));
    transform: translateX(calc(100% + 80px));
    -webkit-transition: transform 0.45s ease-in-out, opacity 0.45s ease-in-out;
    -moz-transition: transform 0.45s ease-in-out, opacity 0.45s ease-in-out;
    transition: transform 0.45s ease-in-out, opacity 0.45s ease-in-out;
    z-index: 999;
    overflow-y: scroll;
    overscroll-behavior-y: contain;
    scrollbar-width: none;
    ::-webkit-scrollbar {
        display: none;
    }
    @media #{$xxs} {
        width: 100%;
    }
    &.info-open {
        opacity: 1;
        transform: translateX(0);
    }
}
.offcanvas-logo {
    a {
        img {
            width: 160px;
            @media #{$xs} {
                width: 150px;
            }
            @media #{$xs} {
                width: 140px;
            }
        }
    }
}
.offcanvas-content {
    padding-bottom: 45px;
}
.offcanva-wrapper {
    position: relative;
    height: 100%;
    padding: 30px 30px;
}
.offcanvas-top {
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid rgba($white, $alpha: 0.1);
}
.offcanvas-title {
    color: var(--td-white);
    font-size: 20px;
    margin-bottom: 20px;

    @media #{$xxs} {
        font-size: 20px;
    }
}
.offcanvas-text {
    & p {
        margin-bottom: 25px;
    }
}
.offcanvas-overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    background: $black;
    z-index: 900;
    top: 0;
    opacity: 0;
    visibility: hidden;
    right: 0;
    transition: .3s;
    &.overlay-open {
        opacity: 0.6;
        visibility: visible;
    }
}
.sidebar-toggle {
    cursor: pointer;
}
.offcanvas-contact-icon {
    margin-inline-end: 15px;
}
.offcanvas-btn {
    @include flexbox();
    gap: 15px;
}
// Close icon 
.offcanvas-close-icon {
    line-height: 1;
    color: var(--td-white);
    background: transparent;
    .offcanvas-m-lines {
        position: relative;
        display: block;
        height: 12px;
        width: 33px;
    }
    &.animation--flip {
        .offcanvas-m-line {
            &.line--1 {
                top: 6px;
                transform: rotate(45deg);
            }
            &.line--3 {
                opacity: 0;
                opacity: 0;
            }
            &.line--2 {
                top: 6px;
                transform: rotate(-45deg);
            }
        }
    }
    .offcanvas-m-line {
        position: absolute;
        left: 0;
        height: 2px;
        width: 100%;
        background-color: currentColor;
        transition: top 0.15s ease, transform 0.3s ease;
        &.line--1 {
            top: 0;
        }
        &.line--2 {
            top: 5px;
        }
        &.line--3 {
            bottom: 0;
            bottom: 0;
        }
        &:hover {
            .offcanvas-m-line {
                animation: qode-draw 0.8s cubic-bezier(0.44, 1.1, 0.53, 0.99) 1 forwards;
                animation: qode-draw 0.8s cubic-bezier(0.44, 1.1, 0.53, 0.99) 1 forwards;
                &:nth-of-type(2) {
                    animation-delay: 0.1s;
                }
            }
        }
    }
}