@use "../utils" as *;

/*----------------------------------------*/
/* Section Title  
/*----------------------------------------*/
.text-highlight {
  position: relative;
  padding: 0 10px;
  display: inline-block;
  &:before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, var(--td-primary) 0%, rgba(255, 205, 16, 0) 100%);
    opacity: 0.4;
    z-index: -1;
    top: 0;
    left: 0;
  }
}
.subtitle-four {
  background: rgba($white, $alpha: 0.08);
  mix-blend-mode: normal;
  border: 1px solid rgba($white, $alpha: 0.08);
  border-radius: 32px;
  padding: 7px 17px;
  color: var(--td-white);
  font-size: 12px;
  margin-bottom: 35px;
  display: inline-block;
}
.section-title-four {
  font-size: 40px;
  color: var(--td-white);
  letter-spacing: -3px;
  @media #{$lg} {
    font-size: 36px;
  }
  @media #{$md} {
    font-size: 36px;
  }
  @media #{$sm} {
    font-size: 26px;
  }
  @media #{$xs} {
    font-size: 24px;
    letter-spacing: -1px;
  }
}