@use '../utils' as *;

/*---------------------------------
/*  Default Spacing
---------------------------------*/
.section-space {
  padding-top: 120px;
  padding-bottom: 120px;
  @media #{$xl} {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  @media #{$lg} {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  @media #{$md} {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  @media #{$sm,$xs} {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
.section-space-top {
  padding-top: 120px;
  @media #{$xl} {
    padding-top: 100px;
  }
  @media #{$lg} {
    padding-top: 100px;
  }
  @media #{$md} {
    padding-top: 80px;
  }
  @media #{$sm,$xs} {
    padding-top: 70px;
  }
}
.section-space-bottom {
  padding-bottom: 120px;
  @media #{$xl} {
    padding-bottom: 100px;
  }
  @media #{$lg} {
    padding-bottom: 100px;
  }
  @media #{$md} {
    padding-bottom: 80px;
  }
  @media #{$sm,$xs} {
    padding-bottom: 70px;
  }
}
.section-title-space {
  margin-bottom: 70px;
  @media #{$xl} {
    margin-bottom: 50px;
  }
  @media #{$lg} {
    margin-bottom: 45px;
  }
  @media #{$md} {
    margin-bottom: 40px;
  }
  @media #{$xs, $sm} {
    margin-bottom: 35px;
  }
}